In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib.patches as mpatches

from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV

RANDOM_STATE = 103783

In [2]:
df = pd.read_csv("student-mat.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [27]:
def preprocesar_data_frame(df):
    y = df['G3']
    X = df.drop(columns=['G1','G2','G3'])
    return (X, y)

In [31]:
(X,y) = preprocesar_data_frame(df)
X_prepos = pd.get_dummies(X, drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X_prepos, y, test_size=0.25, random_state=RANDOM_STATE)

In [29]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score

parametros = {'n_neighbors':range(3,9), 'weights':['uniform', 'distance'],'p':[1,2]} 

knn = KNeighborsRegressor()
regresor = GridSearchCV(knn, parametros,n_jobs =-1,verbose = 4, cv= 10)

regresor.fit(X_train,y_train)
print(r2_score(y_test,regresor.predict(X_test)))
regresor.best_params_

Fitting 10 folds for each of 24 candidates, totalling 240 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    0.3s

0.18009217278784795

[Parallel(n_jobs=-1)]: Done 240 out of 240 | elapsed:    1.0s finished

{'n_neighbors': 7, 'p': 1, 'weights': 'distance'}

In [14]:
neigh = KNeighborsRegressor(n_neighbors=2)
neigh.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=2)